<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<script src="https://kit.fontawesome.com/c5b2bb1ac5.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>


<!-- HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER    -->

    <header>
      <div class="header-container-superior">
        <div class="header-container-left">
          <div class="header-container-logo">
            <img src=".\images\logo-mercado-liebre.svg" alt="mercado libre logo">
          </div>
          <div class="header-container-barra-busqueda">
              <form action="GET">
                <input class="header-barra-busqueda" type="text" placeholder="Buscar productos, marcas"> 
                <div class="header-contenedor-busqueda-lupa">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </div>
              </form>
          </div>
        </div>
          <div class="header-container-compra-en-cuotas">
            <p class="header-compra-en-cuotas">Comprá en cuotas y sin tarjeta de crédito<i class="fa-solid fa-hand-holding-dollar"></i></p>
          </div>
      </div>
        <div class="header-container-nav-button">
          <button class="header-menu-hamburguesa-button">
            <i class="fas fa-bars"></i>
          </button>
        </div>

        <nav class="header-container-navigation-bar">
          <ul class="header-elements-navigation-bar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
          <ul class="header-elements-right">
            <li><a href="#">Creá tu cuenta</a> <i class="fa-regular fa-id-card"></i></li>
            <li><a href="#">Ingresá</a> <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
            <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
          </ul>
        </nav>
    </header>

<!-- MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN    -->

<img class="main-section-banner" src="/images/img-home-banner.jpg" alt="banner">


    <main>
      <h3 class="main-section-titular">Basado en tu última visita</h3>
      <section class="main-container-recomendaciones-ultima-visita">

        <article class="producto-container">
          <div class="producto-container-imagen">
            <img class="producto-imagen" src="\images\img-cafetera-moulinex.jpg" alt="Imagen producto">
          </div>
          <div class="producto-container-info">
            <i class="fa-solid fa-truck"></i>
              <h5 class="producto-precio">$6770</h5>
              <h5 class="producto-descuento">40% off</h5>

            <div class="producto-descripcion-container">
              <h4 class="producto-descripcion">Cafetera Moulinex</h4>
            </div>
          </div>
        </article>
        <article class="producto-container">
          <div class="producto-container-imagen">
            <img class="producto-imagen" src="\images\img-macbook-pro-2019.jpg" alt="Imagen producto">
          </div>
          <div class="producto-container-info">
            <i class="fa-solid fa-truck"></i>
            <h5 class="producto-precio">$230.000</h5>
            <h5 class="producto-descuento">20% off</h5>
            <h4 class="producto-descripcion">MacBook Pro 2019</h4>
          </div>
        </article>
        <article class="producto-container">
          <div class="producto-container-imagen">
            <img class="producto-imagen" src="\images\img-samsung-galaxy-s10.jpg" alt="Imagen producto">
          </div>
          <div class="producto-container-info">
            <i class="fa-solid fa-truck"></i>
            <h5 class="producto-precio">$70.500</h5>
            <h5 class="producto-descuento">10% off</h5>
            <h4 class="producto-descripcion">Samsung Galaxy S10</h4>
          </div>
        </article>
        <article class="producto-container">
          <div class="producto-container-imagen">
            <img class="producto-imagen" src="\images\img-tv-samsung-smart.jpg" alt="Imagen producto">
          </div>
          <div class="producto-container-info">
            <i class="fa-solid fa-truck"></i>
            <h5 class="producto-precio">$23.200</h5>
            <h5 class="producto-descuento">5% off</h5>
            <h4 class="producto-descripcion">SmartTv Samsung 43"</h4>
          </div>
        </article>
        
      </section>

      <section class="main-container-ofertas">

        <h3 class="main-section-titular">Ofertas</h3>
        <article class="producto-container">
          <div class="producto-container-imagen">
            <img class="producto-imagen" src="\images\img-cafetera-moulinex.jpg" alt="Imagen producto">
          </div>
          <div class="producto-container-info">
            <i class="fa-solid fa-truck"></i>
            <h5 class="producto-precio">$6770</h5>
            <h5 class="producto-descuento">40% off</h5>
            <h4 class="producto-descripcion">Cafetera Moulinex</h4>
          </div>
        </article>
        <article class="producto-container">
          <div class="producto-container-imagen">
            <img class="producto-imagen" src="\images\img-macbook-pro-2019.jpg" alt="Imagen producto">
          </div>
          <div class="producto-container-info">
            <i class="fa-solid fa-truck"></i>
            <h5 class="producto-precio">$230.000</h5>
            <h5 class="producto-descuento">20% off</h5>
            <h4 class="producto-descripcion">MacBook Pro 2019</h4>
          </div>
        </article>
        <article class="producto-container">
          <div class="producto-container-imagen">
            <img class="producto-imagen" src="\images\img-samsung-galaxy-s10.jpg" alt="Imagen producto">
          </div>
          <div class="producto-container-info">
            <i class="fa-solid fa-truck"></i>
            <h5 class="producto-precio">$70.500</h5>
            <h5 class="producto-descuento">10% off</h5>
            <h4 class="producto-descripcion">Samsung Galaxy S10</h4>
          </div>
        </article>
        <article class="producto-container">
          <div class="producto-container-imagen">
            <img class="producto-imagen" src="\images\img-tv-samsung-smart.jpg" alt="Imagen producto">
          </div>
          <div class="producto-container-info">
            <i class="fa-solid fa-truck"></i>
            <h5 class="producto-precio">$23.200</h5>
            <h5 class="producto-descuento">5% off</h5>
            <h4 class="producto-descripcion">SmartTv Samsung 43"</h4>
          </div>
        </article>
        
      </section>

    </main>





<!-- FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER    -->
<footer>
  <section class="footer-beneficios-container"> 
      <article class="footer-beneficios">
        <i class="fa-solid fa-credit-card"></i>
        <h4 class="footer-beneficios-h4">Pagá con tarjeta o en efectivo</h6>
        <p class="footer-beneficios-p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
      </article>
      <article class="footer-beneficios">
        <i class="fa-solid fa-gift"></i>
        <h4 class="footer-beneficios-h4">Envío gratis desde $ 2.500</h6>
        <p class="footer-beneficios-p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
      </article>
      <article class="footer-beneficios">
        <i class="fa-solid fa-user-shield"  class="footer-beneficios-icono"></i>
        <h4 class="footer-beneficios-h4">Seguridad, de principio a fin</h6>
        <p class="footer-beneficios-p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
      </article>
  </section>
  <p class="footer-copyright-p">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>


</body>
</html>