<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>


<!-- HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER    -->

    <header>

        <div class="header-content-all">
          <div class="container-logo">
            <img src=".\images\logo-mercado-liebre.svg" alt="mercado libre logo">
          </div>
          <div class="container-search-bar">Lugar para poner la barra de búsqueda
          </div>
          <div class="container-compra-encuotas">Comprá en cuotas y sin tarjeta de crédito
          </div>
        </div>
          
        <nav class="container-navigation-bar">Barra de navegación
          <ul class="navigation-bar-elements">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
          </ul>
          <ul>
            <li>Creá tu cuenta</li>
            <li>Ingresá</li>
            <li>Mis compras</li>
          </ul>
        </nav>

    </header>

<!-- MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN    -->

    <main>
      <section class="main-container-recomendaciones-ultima-visita">

        <h3>Basado en tu última visita</h3>
        <article class="producto-container">
          <div class="producto-container-imagen">
            <img class="producto-imagen" src="\images\img-cafetera-moulinex.jpg" alt="Imagen producto">
          </div>
          <div class="producto-container-info">
          <h5 class="producto-precio">$6770</h5>
          <h5 class="producto-descuento">40% off</h5>
          <h4 class="producto-nombre">Cafetera Moulinex</h4>
          </div>
        </article>
        <article class="producto-container">
          <div class="producto-container-imagen">
            <img class="producto-imagen" src="\images\img-macbook-pro-2019.jpg" alt="Imagen producto">
          </div>
          <div class="producto-container-info">
            <h5 class="producto-precio">$230.000</h5>
            <h5 class="producto-descuento">20% off</h5>
            <h4 class="producto-nombre">MacBook Pro 2019</h4>
          </div>
        </article>
        <article class="producto-container">
          <div class="producto-container-imagen">
            <img class="producto-imagen" src="\images\img-samsung-galaxy-s10.jpg" alt="Imagen producto">
          </div>
          <div class="producto-container-info">
            <h5 class="producto-precio">$70.500</h5>
            <h5 class="producto-descuento">10% off</h5>
            <h4 class="producto-nombre">Samsung Galaxy S10</h4>
          </div>
        </article>
        <article class="producto-container">
          <div class="producto-container-imagen">
            <img class="producto-imagen" src="\images\img-tv-samsung-smart.jpg" alt="Imagen producto">
          </div>
          <div class="producto-container-info">
            <h5 class="producto-precio">$23.200</h5>
            <h5 class="producto-descuento">5% off</h5>
            <h4 class="producto-nombre">SmartTv Samsung 43"</h4>
          </div>
        </article>
        
      </section>

      <section class="main-container-ofertas">

        <h3>Ofertas</h3>
        <article class="producto-container">
          <div class="producto-container-imagen">
            <img class="producto-imagen" src="\images\img-cafetera-moulinex.jpg" alt="Imagen producto">
          </div>
          <div class="producto-container-info">
          <h5 class="producto-precio">$6770</h5>
          <h5 class="producto-descuento">40% off</h5>
          <h4 class="producto-nombre">Cafetera Moulinex</h4>
          </div>
        </article>
        <article class="producto-container">
          <div class="producto-container-imagen">
            <img class="producto-imagen" src="\images\img-macbook-pro-2019.jpg" alt="Imagen producto">
          </div>
          <div class="producto-container-info">
            <h5 class="producto-precio">$230.000</h5>
            <h5 class="producto-descuento">20% off</h5>
            <h4 class="producto-nombre">MacBook Pro 2019</h4>
          </div>
        </article>
        <article class="producto-container">
          <div class="producto-container-imagen">
            <img class="producto-imagen" src="\images\img-samsung-galaxy-s10.jpg" alt="Imagen producto">
          </div>
          <div class="producto-container-info">
            <h5 class="producto-precio">$70.500</h5>
            <h5 class="producto-descuento">10% off</h5>
            <h4 class="producto-nombre">Samsung Galaxy S10</h4>
          </div>
        </article>
        <article class="producto-container">
          <div class="producto-container-imagen">
            <img class="producto-imagen" src="\images\img-tv-samsung-smart.jpg" alt="Imagen producto">
          </div>
          <div class="producto-container-info">
            <h5 class="producto-precio">$23.200</h5>
            <h5 class="producto-descuento">5% off</h5>
            <h4 class="producto-nombre">SmartTv Samsung 43"</h4>
          </div>
        </article>
        
      </section>

    </main>





<!-- FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER    -->
    <footer>
      <section class="footer-beneficios-container"> 
          <h4 class="footer-beneficios-h6">Pagá con tarjeta o en efectivo</h6>
          <p class="footer-beneficios-p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
          <h4 class="footer-beneficios-h6">Envío gratis desde $ 2.500</h6>
          <p class="footer-beneficios-p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.</p>
          <h4 class="footer-beneficios-h6">Seguridad, de principio a fin</h6>
          <p class="footer-beneficios-p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
          <p class="footer-beneficios-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>


</body>
</html>