/* 
PALETA DE COLORES:

Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

 */

 /* 
TIPOGRAFÃAS:
Familia: 'Roboto'
 */

/* TODO TODO TODO */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    list-style: none;
    text-align: center;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    border-style:none;
}

img {
    max-width: 100%;
    max-height: 100%;
    overflow: clip;
}

input:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


/* HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER    */
header{
    position:fixed;
    top:0;
    z-index: 100;
}

.header-container-superior{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(255, 240, 72);
    padding:5px;
}
/* div1 */
.header-container-left {
    display:flex;
    width:100vw;
    background-color: rgb(255, 240, 72);
    align-items:center;
}
.header-container-logo{
    height:auto;
    width:50vw;
    background-color: rgb(255, 240, 72);
    display:inline-flex;
    align-items:center;
    padding-right:5px;
}

.header-container-barra-busqueda{
    margin-top:.5rem;
    width:fit-content;
    background-color: rgb(255, 240, 72);
    display:flex;
    align-items:center;
   }

.header-container-barra-busqueda form{
    display:flex;
    justify-content:space-between;
    overflow: clip;
    padding:10px;
}

.header-barra-busqueda {
    font-family:"Roboto";
    font-size:12px;
    background-color: #fff;
    padding:13px;
    border-radius: 5px;
    border-color: #fff;
}
;

 .header-barra-busqueda:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.header-contenedor-busqueda-lupa{
    display:inline;
    text-align:center;
    position:relative;
    left: -2rem;
    bottom:-.4rem; 
    margin:1px;
    background-color: transparent;
    color:#666;
    cursor:pointer;
}

.header-contenedor-busqueda-lupa button :hover{
    cursor:pointer;
    width:100%;
    height:100%;
}

/* div2 */
.header-container-compra-en-cuotas{
    padding:1rem 0rem;
    background-color:rgb(255, 240, 72);
    font-family:"Roboto";
    font-size:14px;
    font-weight: 200;
}
/* nav1 */
.header-container-navigation-bar{
    display:none;
    background-color:rgb(255, 240, 72);
}
.header-elements-navigation-bar{
    font-family:"Roboto";
    font-size:16px;
    text-decoration: none;
}

.header-container-navigation-bar a{
    color: #666;
    display:inline-block;
    padding:5px 0px;
}
.header-container-navigation-bar i{
    color: #666;
}

.header-elements-right{
    font-family:"Roboto";
    font-size:16px;
    text-decoration: none;
}
/* div3 */
.header-container-nav-button{
    background-color: rgb(255, 240, 72);
    padding-bottom:1rem;
}

.header-menu-hamburguesa-button{
    background-color:#1259c3;
    color:#fff;
    display:inline-block;
    max-width: 20%;
    padding:5px 7px;
    border-radius:3px;
    border-style: none;
    text-align:center;
    font-size:18px;
}
.fas.fa-bars{
    background-color: #1259c3;
    color: white;
  }


/* MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN    */


.main-section-banner{
    margin: -4px 0px;
}


main {
    width:100vw;
    justify-self: center;
    text-align:center;
    background-color: #ebebeb;
    margin-top:78px;
    }

.main-container-recomendaciones-ultima-visita, .main-container-ofertas{
    
    background-color:#ebebeb;
    width:100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom:3rem;
}

.main-section-titular{
    font-family:"Roboto";
    font-size:24px;
    color:#666;
    text-align:left;
    padding: 20px 35px 10px;
    width:100%;
}

.producto-container{
    max-width: 80%;
    margin:10px;
    transition:all 0.3s ease;
}

.producto-container:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.producto-container-imagen{
    padding:10px;
    background-color: #fff;
}

.producto-container-info{
    display:flex;
    flex-wrap: wrap;
    background-color:#fff;
    border-top:1px solid #ebebeb;
    padding:10px;
    position: relative;
}
.producto-container-info i{
     display: block;
     font-size: 16px;
     padding: 5px;
     width: 30px;
     height: 30px;
     border: 1px solid #39b54a;
     color:#39b54a;
     background-color: #FFF;
     border-radius: 50%;
     position: absolute;
     right: 20px;
     top: -15px;
     transition: all 500ms
}
.producto-container:hover .producto-container-info i{
    animation: giroYVuelta .75s 1;
  }
  @keyframes giroYVuelta {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(0);
    }
  }

.producto-precio{
    font-family:"Roboto";
    font-size:18px;
    width: 30%;
    text-align: left;
}
.producto-descuento{
    font-family:"Roboto";
    font-size:16px;
    color:#39b54a;
    width:60%;
    text-align: left;
}
.producto-descripcion{
    font-family:"Roboto";
    font-size:16px;
    font-weight: 250;
    color:#666;
    opacity:0;
    width:100%;
    opacity: 0; 
    transition: opacity 0.8s ease;
}

.producto-container:hover .producto-container-info .producto-descripcion{
  opacity:1;
}


 /* FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER    */
 .footer-beneficios{
    margin-bottom:10px;
 }
 .footer-beneficios-p {
    font-family:"Roboto";
    font-size: 12px;
 }

 .footer-beneficios-h4 {
    font-family:"Roboto";
    font-size:16px;
 }

 .footer-beneficios-copyright{
    font-family:"Roboto";
    font-size: 12px;
 }
  
.footer-beneficios i{
    display: block;
    font-size: 16px;
    padding: 7px 5px;
    background-color: #FFF;
    color:#1259c3;
}





@media (min-width: 768px){

    header{
        position:static;
    }
    .header-container-superior{
        display:flex;
        justify-content: space-around;
    }

    .header-container-left{
        display:inline;
        display:flex;
        justify-content: space-between;
        max-width:60vw;
    }

    .header-container-logo, .header-container-barra-busqueda, .header-container-compra-en-cuotas{
        max-width: 25vw;
        display:inline;
    }

    

    .header-container-barra-busqueda form {
        display:flex;
        justify-content: space-around;
        overflow: clip;
    }

    .header-container-nav-button{
        display:none;
    }

    .header-container-navigation-bar{
        display:flex;
        justify-content:space-between;
        padding-left:20px;
        padding-right:20px;
    }

    .header-elements-navigation-bar, .header-elements-right{
        display:flex;
    }
    .header-container-navigation-bar li {
        margin:5px;
    }

    /* MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN    */

    main {
        margin-top:0
        }

    .main-container-recomendaciones-ultima-visita, .main-container-ofertas{
        display:flex;
        flex-wrap: wrap;
    }

    .producto-container{
        width:40%
    }

}



@media (min-width: 1024px){

    .header-barra-busqueda{
        width:25vw;
    }

    .producto-container{
        width:20%
    }
    .producto-precio{
        width:60%;
        overflow:visible;
        text-align: center;
    } 
    .producto-descuento{
        width:40%;
    }
    .producto-descripcion{
        width:100%;
        text-align: center;
    }

    footer{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    footer>section{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
    }
    footer>section>article{
        width:33%;
        padding:2%;
    }
    .footer-copyright-p{
        display:block;
        text-align: center;
    }
}