/* 
PALETA DE COLORES:

Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

 */

 /* 
TIPOGRAFÃAS:
Familia: 'Roboto'
 */

/* TODO TODO TODO */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    list-style: none;
    text-align: center;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    border-style:none;
}

img {
    max-width: 100%;
    max-height: 100%;
    overflow: clip;
}

input:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    filter:brightness(1.2);
}


/* HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER   HEADER    */
header{
    position:fixed;
    top:0;
    z-index: 100;
}

.header-container-superior{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    background-color: rgb(255, 240, 72);
    padding:5px;
}
/* div1 */
.header-container-left {
    display:flex;
    width:100vw;
    background-color: rgb(255, 240, 72);
    align-items:center;
}
.header-container-logo{
    height:auto;
    width:50vw;
    background-color: rgb(255, 240, 72);
    display:inline-flex;
    align-items:center;
    padding-right:5px;
}

.header-container-barra-busqueda{
 margin-top:.5rem;
 width:fit-content;
 background-color: rgb(255, 240, 72);
 display:flex;
 align-items:center;
}

.header-container-barra-busqueda form{
    display:flex;
    justify-content:space-between;
    overflow: clip;
}

.header-barra-busqueda{
    font-family:"Roboto";
    font-size:12px;
    background-color: #fff;
    padding:13px;
    border-radius: 5px;
    border-color: #fff;
}

.header-contenedor-busqueda-lupa{
    display:inline;
    text-align:center;
    position:relative;
    left: -2rem;
    bottom:-.4rem; 
    margin:1px;
    background-color: transparent;
    color:#666;
    cursor:pointer;
}

/* div2 */
.header-container-compra-en-cuotas{
    padding:1rem 0rem;
    background-color:rgb(255, 240, 72);
    font-family:"Roboto";
    font-size:14px;
    font-weight: 200;
}
/* nav1 */
.header-container-navigation-bar{
    display:none;
    background-color:rgb(255, 240, 72);
}
.header-elements-navigation-bar{
    font-family:"Roboto";
    font-size:16px;
    text-decoration: none;
}

.header-container-navigation-bar a{
    color: #666;
    display:inline-block;
    padding:5px 0px;
}
.header-container-navigation-bar i{
    color: #666;
}

.header-elements-right{
    font-family:"Roboto";
    font-size:16px;
    text-decoration: none;
}
/* div3 */
.header-container-nav-button{
    background-color: rgb(255, 240, 72);
    padding-bottom:1rem;
}

.header-menu-hamburguesa-button{
    background-color:#1259c3;
    color:#fff;
    display:inline-block;
    max-width: 20%;
    padding:5px 7px;
    border-radius:3px;
    border-style: none;
    text-align:center;
    font-size:18px;
}
.fas.fa-bars{
    background-color: #1259c3;
    color: white;
  }


/* MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN    */

main{
    margin-top:140px;
}

.main-container-all{
    display:flex;
    justify-content: space-around;
    width:100vw;
    padding: 5rem 5%;
    background-color: #ebebeb;
    margin-top:2px;
}

.main-container-register{
    padding:10px;
    width:90%;
    background-color:#fff;
    border-radius:10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.4);
}

.main-register-title{
    font-family: "Roboto";
    font-style: none;
    font-size:18px;
    font-weight: 60;
}

.main-form-usuario-creacion{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.form-usuario-datos-personales{
    display:flex;
    flex-wrap:wrap;
    justify-content: inherit;
}

.form-usuario-datos-personales>div{
    width:100%;
    padding:3px;
}
.form-usuario-datos-personales label{
    font-weight:300;
    font-size:16px;
    justify-content: inherit;
}
.form-usuario-datos-personales input{
    width:80%;
    font-weight:100;
    font-size:14px;
    border:1px solid #666;
    border-radius:5px;
    justify-content: left;
}

::placeholder {
    color: rgba(176, 169, 169, 0.96);
    opacity: 1; 
  }

.form-usuario-perfil-e-intereses>div{
    margin:4px 0px;
    padding:5px 20px;
    width:100%;
    background-color:#f9f9f9;
}
.form-usuario-perfil-e-intereses p{
    font-weight:300;
    font-size:16px;
    justify-content: inherit;
    margin: 3px 0px;
}

.form-usuario-perfil-e-intereses div{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:3px 0px;
}
.form-usuario-perfil-e-intereses label{
    width:80%;
    font-weight:150;
    font-size:12px;
}
.form-usuario-perfil-e-intereses input{
    width:80%;
    font-weight:200;
    font-size:14px;
    border:1px solid #ebebebab;
    border-radius:5px;
    justify-content: left;
    margin:0px 3px -2px
}

.form-usuario-foto-perfil{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    padding:5px;
    justify-content: center;
}

.form-usuario-foto-perfil>label{
    padding:4px 0px 2px;
    width:100%;
}

.form-usuario-foto-perfil>input{
    border:1px solid #ebebebab;
    border-radius: 7px;
    font-size: 14px;
    background-color:rgb(255, 240, 72);
    color:#000000;
}

profile-pic-submit {
    width:100%;
}

.form-usuario-password, .form-usuario-password-confirm{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin:3px 0px;
    width:100%;
    margin: 5px 0px;
}

.form-usuario-password label, .form-usuario-password-confirm label{
    width:80%;
    font-weight:150;
    font-size:12px;
}

.form-usuario-password input, .form-usuario-password-confirm input{
    width:80%;
    font-weight:200;
    font-size:14px;
    border:1px solid #ebebebab;
    border-radius:5px;
    justify-content: left;
    margin:0px 3px -2px
}

.form-usuario-buttons{
    width:100%;
    display:flex;
    justify-content:center;
}

.form-usuario-button-submit{
    background-color: rgb(48, 36, 114);
    transition: all 0.5s ease;
    font-weight: 500;
    color:rgb(255, 255, 255);
    border:none;
    border-radius:5px;
    padding:10px 30px;
    margin-top:10px;
    margin-right:3%;
}

.form-usuario-button-reset{
    background-color: #f88f1f;
    transition: all 0.5s ease;
    font-weight: 500;
    border-radius:5px;
    padding:10px 30px;
    margin-top:10px;
    margin-left:3%;
}

 /* FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER   FOOTER    */
 .footer-beneficios{
    margin-bottom:10px;
 }
 .footer-beneficios-p {
    font-family:"Roboto";
    font-size: 12px;
 }

 .footer-beneficios-h4 {
    font-family:"Roboto";
    font-size:16px;
 }

 .footer-beneficios-copyright{
    font-family:"Roboto";
    font-size: 12px;
 }
  
.footer-beneficios i{
    display: block;
    font-size: 16px;
    padding: 7px 5px;
    background-color: #FFF;
    color:#1259c3;
}





@media (min-width: 768px){
    header{
        position:static;
    }
    .header-container-superior{
        display:flex;
        justify-content: space-around;
    }

    .header-container-left{
        display:inline;
        display:flex;
        justify-content: space-between;
        max-width:60vw;
    }

    .header-container-logo, .header-container-barra-busqueda, .header-container-compra-en-cuotas{
        max-width: 25vw;
        display:inline;
    }

    .header-container-barra-busqueda form {
        display:flex;
        justify-content: space-around;
    }

    .header-container-nav-button{
        display:none;
    }

    .header-container-navigation-bar{
        display:flex;
        justify-content:space-between;
        padding-left:20px;
        padding-right:20px;
    }

    .header-elements-navigation-bar, .header-elements-right{
        display:flex;
    }
    .header-container-navigation-bar li {
        margin:5px;
    }

    /* MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN   MAIN    */
    main {
        margin-top:0
        }
}



@media (min-width: 1024px){

    .header-barra-busqueda{
        width:25vw;
    }
    .main-container-register{
        width:40%;
    }
    

    footer{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    footer>section{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
    }
    footer>section>article{
        width:33%;
        padding:2%;
    }
    .footer-copyright-p{
        display:block;
        text-align: center;
    }
}
